<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1" />
    <title>TeamForum: A Smart Way Connect with Team members</title>
    <link rel="stylesheet" href="{{ url_for('static', filename='css/main.css') }}">
    <script src="http://code.jquery.com/jquery-2.1.1.min.js"></script>

</head>
<body class='authbox'>
<br><br><br><br>
{% with messages = get_flashed_messages(with_categories=true) %}
        {% if messages %}
        {% for category, message in messages %}
       <div class="messageflash1">
       {{ message }}
       </div>
       {% endfor %}
       {% endif %}
       {% endwith %}
<br><br>
<div class='actionbox' width='30%'>
    <center>
    <div class='headbanner'>TeamForum</div>
    </center>
<form method="POST" class='signupbox'>
        <h4>Sign up to get started: </h4>
        <label for="email">Full Name:</label>
        <input type="name" id="name" name="name" class='signuptext' placeholder=" Full Name" required><br>
        <label for="email">Email address:</label>
        <input type="email" id="email" name="email" class='signuptext' placeholder="Email address" required><br>
        <label for="password">Password:</label>
        <input type="password" id="password" name="password" class='signuptext' placeholder="Password" required><br>
        <label for="password">Confirm Password:</label>
        <input type="password" id="password" name="re-password" class='signuptext' placeholder="Confirm Password" required><br>
    <button type="submit" class="btn btn-default">Submit</button>
</form>
</div>

</body>
</html>
