
h1, h2, h3, h4 {color: #052463;}
.container {padding: 0.8em; width: 80em;}

.title {font-size: 0.5em;}
    
body {font-weight: normal; font-size: 1.3em; 
     font-family: "Open Sans", "Helvetica Neue", sans-serif;
     background-color:#CCFFFF;} 
    
    
    
    

    
